.bookform-container{
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-areas: 
        "h5 div"
        "div div";
    /*grid-template-rows: 100px 300px;*/
    grid-template-columns: 400px 400px;
    justify-content: space-evenly;
    grid-gap: 20px;
}

.bookform-container > h5{
    display: flex;
    align-items: center;
}

#Genre-form-control{
    margin-top:0px;
}