footer {
    background-color: #E9E9E9;
    bottom: 0;
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: 10% 26.66% 26.66% 26.66% 10%;
    padding: 15px;
    margin-top: auto;
}
    footer div h5 {
        color: #515151
    }
    footer > div > div > a {
        color: #515151;
    }