.content-container{
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
        "nav main"
}

ul{
    list-style:circle;
}

li{
    text-decoration: none;
}

nav {
    border-width: 0.5px;
    border-color: rgb(157, 157, 157);
    border-right-style: solid;
}