.profile-container{
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-areas: 
        "div div"
        "table div";
    grid-template-rows: 100px 300px;
    grid-template-columns: 400px 400px;
    justify-content: space-evenly;
    grid-gap: 20px;
}

.profile-container > div {
    border: black solid 1px;
    padding: 15px;
}

.profile-container > div > table{
    border-collapse: separate;
}

.profile-table > thead > tr > th, .profile-table > tbody > tr > td  {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .profile-table > tr:nth-child(even) {
    background-color: #eeeeee;
  }